:root {
  --primary-color: #7a2f9c;
  --secondary-color: #302ae6;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #140cec;
  --border-color: rgb(221, 221, 221);
  --hover-color: #eee;
}

[data-theme="dark"] {
  --primary-color: #c374e7;
  --secondary-color: #7572d8;
  --font-color: #cecece;
  --bg-color: #161625;
  --heading-color: #557ce9;
  --border-color: #000000;
  --hover-color: #1e1e4b;
}
